.inputDiv {
  margin-top: 3%;
  padding-left: 4%;
  display: inline-flex;
  width: 35%;
  height: 3rem;
}
.inputBox {
  background-color: hsl(209, 23%, 22%);
  border-radius: 0;
  border: 0;
  padding-left: 5%;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 5px;
}
.inputBox::placeholder {
  color: #d3e0ea;
}
.inputBox:focus {
  outline: none !important;
  color: #ddd;
  background-color: hsl(209, 23%, 22%);
}

.button {
  width: 8rem;
  margin-left: 2%;
}

.dropBtn {
  background-color: hsl(209, 23%, 22%);
  color: #d3e0ea;
  margin-top: 5%;
  padding: 2% 3%;
  font-size: 16px;
  border: none;
  width: 160px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.dropdown {
  position: relative;
  display: inline-block;
  left: 52%;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: hsl(209, 23%, 22%);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent button {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdownContent {
  display: block;
}
